body {
font-family: 'Lobster', cursive;
padding: 100px 0;
background: url("../img/1.jpg") center no-repeat;
background-size: cover ;
background-attachment: fixed;


}
h6  {
    font-size: 35px;
}
h3 {
    font-size: 30px;
    font-family: 'Source Serif Pro', serif;
}

}
P {
    font-size: 20px;
    margin-top: 10px;
    text-align: left;
    line-height: 35px;
    text-weight: ;
    font-family: 'Source Serif Pro', serif;
}


.container {
    width: 800px;
    min-height: 800px;
    border: 10px solid #fff;
    display: block;
    margin-left: 270px;
    margin-right: 270px;

    text-align: center;
    
    background: #fff;

}
.header {
    display: flex;
    height: 203px;
   
}
.title_block{
    display: flex;
    width: 75%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background: url("../img/2.jpg") top no-repeat;
    border: 2px solid white;

}
.userpic {
    display: flex;
    width: 25%;
    height: 100%;
    border: 2px solid white;
}
.nav ul {
    display: flex;
    background: url("../img/18.jpg");
    list-style: none;
}
.nav li a {
    display: flex;
    text-decoration: none;
    padding: 20px;
    color: #404040;
    text-weight: bold;
    border-right: 1px solid #fff;
    transition: background .3 eese;

}
.nav li a:hover {
    background: rgb(238, 238,238);
}
h1{
    text-align: center;
    color: Pink;
    font-size: 30px;
}
.talk{
    background-color: LightSteelBlue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.talk .box{
    width: 48%;
    margin: 5px;
}
.talk .box p{
    text-align: right;
    font-size: 50pt;
    border-left: 7px solid DeepSkyBlue; /* Параметры линии */ 
    margin-left: 20px; /* Отступ слева */
    padding-left: 10px; /* Расстояние от линии до текста */
}
.talk_1{
    background-color: SkyBlue;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.talk_1 p{
    text-align: center;
    font-size: 40pt;
}
.talk_2{
    background-color:LightSteelBlue;
}
.talk_2 .photos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
    text-align: center;
}
.talk_2 p{
    font-size: 40pt;
    text-align: center;
}
h2{
    text-align: center;
    color: MidnightBlue;
    font-size: 30pt;
}
.yana{
    text-align: center;
}
.yana img{
    padding: 2px; /* Ширина паспарту */
    background:white; /* Цвет фона  паспарту */
    border: 4px solid black; /* Параметры рамки */ 
    transition: 0.5s;
    float: center;
    text-align: center;
}
.yana img:hover {
    transform: scale(1.1);
} 
.talk img{
    transition: 0.5s;
}
.talk img:hover{
    transform: scale(1.1);
}